* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Open sans", serif;
}
body {
  background-color: #f5f4f0;
}
#pagina {
  background-color: #f5f4f0;
  width: 1120px;
  margin: 48px auto 28px;
  box-sizing: border-box;
}
#tituloLista {
  margin-top: 64px;
}
#pagina img {
  margin-top: 2px;
  margin-bottom: 24px;
}
img {
  width: 1120px;
  border-radius: 28px;
}
hr {
  border-top: 1px solid #d9d9d9;
  margin-top: 40px;
  margin-bottom: 40px;
}
#titulo #headline + h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}
#tituloLista #headline + h2 {
  margin-top: 2px;
}
#tituloLista h2 + p {
  margin-top: 8px;
}
#tituloLista img {
  object-fit: cover;
  height: 350px;
  margin-top: 64px;
  margin-bottom: 20px;
}
#lista img {
  object-fit: cover;
  height: 350px;
  margin-top: 48px;
  margin-bottom: 20px;
}
#tituloLista h3 + p {
  margin-bottom: 4px;
}
#final p {
  text-align: center;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
#headline {
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;
}
h1,
h2,
h3 {
  color: #1b1b1b;
  line-height: 150%;
  font-weight: bold;
}
p {
  font-size: 16px;
  color: #333333;
  line-height: 21.8px;
}
#p1 {
  font-style: italic;
  text-align: center;
}
#p2,
#p3,
#p4,
#p5,
#p6 {
  font-weight: bold;
}
#p3 {
  color: #0c51a7;
}
#p4 {
  color: #e95e10;
}
#p5 {
  color: #e5245e;
}
#p6 {
  color: #591b98;
}
ul {
  padding-left: 24px;
  list-style-type: disc;
}
ol h3 {
  padding-left: 36px;
}
footer {
  padding-top: 65px;
  padding-bottom: 48px;
  font-family: "Alice", serif;
  color: #333333;
  text-align: center;
}
footer img {
  width: 14px;
}
